<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0" authCookieName=".SFAUTH-SitefinityProject_2" rolesCookieName=".SFROLES-SitefinityProject_2" validationKey="6A9638389762A36547D8108553F51B1D9652123AA691AF53ECCF47BB9C4ADCB6F75686E4F506986CA39DAE35CC4A9ADEA7B7105CEBCA970B91CB9A33FB429F36" decryptionKey="17D5B1E7ED5756D8E34B6E646C474144E268658D76073DBD0D7E011AE5B5B1BA" loggingCookieName=".SFLOG-SitefinityProject_2">
	<securityTokenIssuers>
		<add key="9832F1B7F35B34FDB5E865FC7EA3C8CBB6ADC1F880A6D875782C68E87791F9DB" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="9832F1B7F35B34FDB5E865FC7EA3C8CBB6ADC1F880A6D875782C68E87791F9DB" realm="http://localhost" />
	</relyingParties>
</securityConfig>