<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="FeaturedArticles" access="Anonymous" urlName="featuredarticles">
					<types>
						<add urlName="newsitems" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="Description" />
								<remove Name="DateCreated" />
								<remove Name="IncludeInSitemap" />
								<remove Name="UrlName" />
								<remove Name="Category" />
								<remove Name="AllowComments" />
								<remove Name="Comments" />
								<remove Name="Summary" />
								<remove Name="Author" />
								<remove Name="SourceName" />
								<remove Name="SourceSite" />
								<add AllowFilter="False" Name="LastModified" config:flags="1" />
							</propertyMappings>
						</add>
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>