@model SitefinityWebApp.MVC.Models.FlatTaxonomyModel

<ul class="mav mav-pills" role="tablist">
    @foreach (var taxonomy in Model.Taxonomies)
    { 
        <li role="presentation">
            <a href="#">
                @taxonomy.Name <span class="badge">@taxonomy.TaxaCount</span>

            </a>
        </li>
    
    }
</ul>
